github "CocoaLumberjack/CocoaLumberjack"
github "banchichen/TZImagePickerController"
github "AFNetworking/AFNetworking"
github "jdg/MBProgressHUD"
github "CoderMJLee/MJRefresh"
github "mineschan/MZTimerLabel"
github "ibireme/YYText"
github "ibireme/YYImage"
github "scalessec/Toast"